// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// tab style
.tab {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

        &__item {
        border-bottom: 2px solid $grey-3;
        color: $grey-2;
        cursor: pointer;
        margin: 0 1rem 0 0;
        padding: 1rem;

        &--active {
            border-bottom: 2px solid $text-color;
            color: $text-color;
            font-weight: bold;
        }
    }
}

// form style
.form {
    &__item {
        border: 1px solid $grey-3;
        border-radius: .25rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: .5em .75em;
        width: 100%;
    }

    label {
        display: block;
        margin-bottom: .5rem;
    }

    &__output {
        display: block;
        margin-bottom: 1rem;
    }

    &__button {
        text-align: right;
    }
}

// errors style
.errors {
    border: 1px solid $danger;
    border-radius: .25rem;
    color: $danger;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

// tweet form style
.tweet-form {
    background: #fff;
    border-radius: .25rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
    max-height: 75vh;
    max-width: 600px;
    overflow: scroll;
    padding: 1.5rem;
    position: absolute;
    right: 2%;
    top: 3.5rem;
    width: 90%;
}

// loader style
.loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__item {
        &--heart {
            display: inline-block;
            position: relative;
            width: 64px;
            height: 64px;
            transform: rotate(45deg);
            transform-origin: 32px 32px;

            div {
                top: 23px;
                left: 19px;
                position: absolute;
                width: 26px;
                height: 26px;
                background: $red;
                animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
            }

            div:after,
            div:before {
                content: " ";
                position: absolute;
                display: block;
                width: 26px;
                height: 26px;
                background: $red;
            }

            div:before {
                left: -17px;
                border-radius: 50% 0 0 50%;
            }

            div:after {
                top: -17px;
                border-radius: 50% 50% 0 0;
            }
        }
    }
}

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

.message {
    background: #D7F9EE;
    border: 1px solid #41e2b2;
    border-radius: .25rem;
    color: #117355;
    margin-bottom: 1.5rem;
    padding: 1rem;
}
